/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #1b435d 0%, #224b4a 50%, #224b2c 100%);
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.debug-border{
  border: 1px solid #834848;
}


.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
